{% extends 'frontend/base.html' %}{% load staticfiles %} 


{% block styles %}
{% endblock %}

{% block section %}
    <div class="row">
        <br>
        {% if lang == 'es' %}
                <div class="container">
            <div class="col s12 m4">
                <div class="card white div-mid-card black-text valign-wrapper homeCard">
                    <div class="card-image">
                        <img src="{% static 'frontend/banners/Banner01.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <a href="" class="black-text center-align">
                            <h5 class="heading-h3">Desarrollo de Aplicaciones</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card white div-mid-card black-text valign-wrapper homeCard">
                    <div class="card-image">
                        <img src="{% static 'frontend/banners/Banner01.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <a href="" class="black-text center-align">
                            <h5 class="heading-h3">Mantenimiento y Soporte</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card white div-mid-card black-text valign-wrapper homeCard">
                    <div class="card-image">
                        <img src="{% static 'frontend/banners/Banner01.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <a href="" class="black-text center-align">
                            <h5 class="heading-h3">Correo Eléctronico Corporativo</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card white div-mid-card black-text valign-wrapper homeCard">
                    <div class="card-image">
                        <img src="{% static 'frontend/banners/Banner01.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <a href="" class="black-text center-align">
                            <h5 class="heading-h3">Diseño de Interfaces y Prototipos</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card white div-mid-card black-text valign-wrapper homeCard">
                    <div class="card-image">
                        <img src="{% static 'frontend/banners/Banner01.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <a href="" class="black-text center-align">
                            <h5 class="heading-h3">Marketing Digital</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card white div-mid-card black-text valign-wrapper homeCard">
                    <div class="card-image">
                        <img src="{% static 'frontend/banners/Banner01.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <a href="" class="black-text center-align">
                            <h5 class="heading-h3">Web y Portales Empresariales</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="col s12 m4">
                <div class="card white div-mid-card black-text valign-wrapper homeCard">
                    <div class="card-image">
                        <img src="{% static 'frontend/banners/Banner01.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <a href="" class="black-text center-align">
                            <h5 class="heading-h3">Application Development</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card white div-mid-card black-text valign-wrapper homeCard">
                    <div class="card-image">
                        <img src="{% static 'frontend/banners/Banner01.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <a href="" class="black-text center-align">
                            <h5 class="heading-h3">Maintenance and Support</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card white div-mid-card black-text valign-wrapper homeCard">
                    <div class="card-image">
                        <img src="{% static 'frontend/banners/Banner01.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <a href="" class="black-text center-align">
                            <h5 class="heading-h3">Corporate Email and Mailing</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card white div-mid-card black-text valign-wrapper homeCard">
                    <div class="card-image">
                        <img src="{% static 'frontend/banners/Banner01.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <a href="" class="black-text center-align">
                            <h5 class="heading-h3">UX DESIGN AND PROTOTYPING</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card white div-mid-card black-text valign-wrapper homeCard">
                    <div class="card-image">
                        <img src="{% static 'frontend/banners/Banner01.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <a href="" class="black-text center-align">
                            <h5 class="heading-h3">Social Networking Solutions</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card white div-mid-card black-text valign-wrapper homeCard">
                    <div class="card-image">
                        <img src="{% static 'frontend/banners/Banner01.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <a href="" class="black-text center-align">
                            <h5 class="heading-h3">Web and Enterprise Portals</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
{% endblock %}